<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{floor.name}}</h3>
  </div>
  <div class="panel-body">
    {{#each floor.beers as |beer|}}
      <div class="container">
        <div class="row beer">
          <div class="col-md-3">
            <div class="beer-image"><img src="{{{beer.iconMedium}}}"/></div>
          </div>
          <div class="col-md-8">
            <div class="beer-name"><h2>{{beer.name}}</h2></div>
            <div class="brewery-name">{{beer.breweryName}}</div>
            <div class="beer-style">{{beer.style}}</div>
          </div>
        </div>
      </div>
    {{else}}
      <p>No beers reported on this floor yet.</p>
    {{/each}}

    {{#if session.isAuthenticated}}
      {{#if isAddingBeer}}
        {{beer-search beers=searchResults
          search=(action "search")
          select=(action "addBeer")}}
      {{else}}
        <button {{action "toggleIsAddingBeer"}}>Add a beer</button>
      {{/if}}
    {{/if}}
  </div>
</div>
