<div class="floor panel">
  <div class="panel__header">
    <h3 class="panel__title">{{floor.name}}</h3>
  </div>

  <div class="panel__body">
    {{#each floor.beers as |beer|}}
      <div class="beers">
        <p class="beer">
          {{beer.name}} / {{beer.breweryName}} <img src="{{{beer.iconMedium}}}">
        </p>
      </div>
    {{/each}}

    {{#if isAddingBeer}}
      {{beer-search beers=searchResults
        search=(action "search")
        select=(action "addBeer")}}
    {{else}}
      <button {{action "toggleIsAddingBeer"}}>Add a beer</button>
    {{/if}}
  </div>
</div>
